.numbers_to_round {
    height: 7em;
}
.locations_to_generalize {
    height: 7em;
}
.suppression_columns {
    height: 7em;
}
.words_to_suppress {
    height: 7em;
}
.columns_to_encrypt {
    height: 7em;
}
.columns_to_decrypt {
    height: 7em;
}